<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{.Title}}</title>
	</head>
	<body>
		<div>
			<p> Hello! </p>
			<br />
			<p> 
			Thanks for confirming your account, {{.Message}} .
			</p>
			<br />
			<p> Kind regards </p>
		</div>
	</body>
</html>
