<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{.Title}}</title>
	</head>
	<body>
		<div>
			<p> Hello! </p>
			<br />
			<p> 
			You have successfully changed your password reset with the new password.
			</p>
			<br />
			<p> Kind regards </p>
		</div>
	</body>
</html>
