<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{.Title}}</title>
	</head>
	<body>
		<div>
			<p> Hello! </p>
			<br />
			<p> 
			Thanks for registering, please click  <a href="{{.Message}}" /> here </a> to confirm your account.
			</p>
			<br />
			<p> Kind regards </p>
		</div>
	</body>
</html>
